.drawer-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }

  &.hide-overlay {
    opacity: 0;
    pointer-events: none;
  }
}

.drawer {
  width: 40vw;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.show-drawer {
  transform: translateX(0%);
  opacity: 1;
}

.hide-drawer {
  transform: translateX(100%);
  opacity: 0;
}
