$primary: #d9d9d9e6;
$primary-emphasis: #ffacdf;
$primary-emphasis-hover: #fda0d0;
$secondary: #998398;
$secondary-emphasis: #9c9a9ac4;

$danger: #ff4a4a;

$backgroud: #0f060f;
$backgroud-emphasis: #1f101f;
$hover: #d9d9d9e6;
$errorBackgroundHighlight: '#C28E8E';

:root {
  --background: #ffffff;

  // TEXT
  --text-d: #000000;
  --text-w: #f0f0f0;

  // DARK
  --primaryDark: #012340;
  --secondaryDark: #024059;

  // LIGHT
  --primaryLight: #f0f0f0;
  --primaryLightHover: color-mix(in srgb, var(--secondaryLight) 90%, black);
  --secondaryLight: #c5d5d9;
  --secondaryLightHover: color-mix(in srgb, var(--secondaryLight) 90%, black);

  // HIGHLIGHT
  --highlight: #4db6ac;
  --highlight-hover: #66c1bb;
  --nav-hover-color: rgba(102, 193, 187, 0.2);
  --highlightSold: #ffe4e4;
  --highlightSoldDark: #c28e8e;

  --secondaryHighlight: rgba(77, 182, 172, 0.3);
  // --secondaryHighlight: #ffe4e4;

  // UTIL
  --error: #dc143c;
  --success: #218838;
  --warning: #ffb74d;
  --info: #001f54;

  --white: #ffffff;
  --highlightBlue: #6a5acd;
  --successSecondary: #f0faf0;

  --buttonBackground: #ffffff;
  --borders: #012340;
  --navTextNormal: #012340;
  --selectedNavText: #ffffff;
  --selectedNavBackground: #012340;
  --deleteButton: #ff4d5e;

  --dropdownSelectedBackground: #ffe4e4;

  --tabsBackground: #c5d5d9;

  --black: #000000;
  --white: #ffffff;

  --errorBackgroundHighlight: #ffe4e4;
}
