@use '../../../global/index.scss' as *;
@use '../../../global/colors.scss' as *;

.add-edit-products-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
  box-sizing: border-box;
  min-height: 90vh;
}

@media (max-width: 1024px) {
  .add-edit-products-main {
    grid-template-columns: 1fr;
    gap: 0rem;
  }
}
