@use '../../../global/index.scss' as *;
@use '../../../global/colors.scss' as *;

.purse-stock-input-container {
  padding: 4px;
  border-radius: 4px;
  border: 0.5px solid var(--primaryDark);
  margin-top: 10px;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  .sizes-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;

    .purse-stock-input-header {
      font-weight: bold;
      flex: 1;
      text-align: center;
    }
  }
  .row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 2px;
  }
  .row-color-1 {
    background-color: var(--secondaryHighlight);
  }
  .row-color-2 {
    background-color: var(--primaryLight);
  }

  .input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 4px;
    margin: 0 4px;
    flex: 1;
    text-align: center;
    background-color: var(--white);
    padding-left: 16px;
  }

  .purse-stock-input-color-label {
    width: 100px;
    text-align: center;
  }
}
