@use '../../global/index.scss' as *;
@use '../../global/colors.scss' as *;
.app-setup-section {
  height: 90vh;
  overflow: hidden;
}

.app-setup-page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media (max-width: 1024px) {
  .app-setup-page-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
