@use '../../global/index.scss' as *;
@use '../../global/colors.scss' as *;

section.controls-section {
  padding: 0rem 3rem;
  padding-bottom: 1rem;

  .add-color-controls {
    padding-top: 1rem;
    background-color: var(--secondary-highlight);
    display: flex;
    gap: 0.5rem;

    .add-btn {
      max-width: 200px;
      height: 45px;
    }
  }
}
