@use '../../global/index.scss' as *;
@use '../../global/colors.scss' as *;

section.controls-section {
  padding-bottom: 1rem;

  .single-input-controls-form {
    background-color: var(--secondary-highlight);
    display: flex;
    gap: 0.5rem;

    .add-btn {
      max-width: 200px;
      height: 41px;
    }
  }
}
