@use '../../global/index.scss' as *;
@use '../../global/colors.scss' as *;

.modal-image-preview-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-image-preview-content {
  background-color: white;
  border-radius: 10px;
  padding: 16px;
  max-width: 90vw;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  .image-preview-modal-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 12px;
    height: 100px;
    padding-top: 12px;

    > h2 {
      margin: 0;
      font-size: 1.2rem;
    }

    .btn-edit-product-close {
      position: absolute;
      right: 0;
      top: 0;
      background: var(--secondaryLight);
      border: none;
      font-size: 1.5rem;
      cursor: pointer;

      &:hover {
        background-color: var(--primaryDark);
      }
    }
  }

  .image-preview-img-element {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
    border-radius: 8px;
  }
}
