@use '../../global/index.scss' as *;
@use '../../global/colors.scss' as *;

.dashboard-section {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  padding: 1rem;
  gap: 1rem;
  .pie-charts-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;

    .pie-chart-card {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      justify-content: center;
    }
  }
}

.dashboard-card {
  color: var(--primaryDark);
  background-color: var(--white);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  padding: 1rem;
  border-left: 4px solid var(--primary-color);
  overflow: hidden;

  transition: box-shadow 0.2s ease;
  &:hover {
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
  }
}

@media (max-width: 760px) {
  .dashboard-section {
    .pie-charts-section {
      grid-template-columns: 1fr;
    }
  }
}
@media (min-width: 760px) and (max-width: 1460px) {
  .dashboard-section {
    .pie-charts-section {
      grid-template-columns: 1fr 1fr;
    }
  }
}
